@model TravelGuide.Models.Admin
@{
    ViewBag.Title = "Change Password";
    string[] style = new string[3];
    style[0] = "/Content/css/forms_css/demo.css";
    style[1] = "/Content/css/forms_css/style.css";
    style[2] = "/Content/css/forms_css/animate-custom.css";
    ViewBag.style = style;
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
   
}
@*<header>
    <a href="/"><h1>Travel Guide of <span>Pakistan</span></h1></a>
</header>*@
<section>
    
    <div id="container_demo" >
        <div id="wrapper">
            <div id="login" class="animate form">
                <form action='changePassword' method = 'post'>
                    <h1>Log in</h1>
                    <p> 
                        <label for="psw" class="youpasswd" data-icon="p"><b>Current Password</b></label>
                        <input id="password" name="curpsw" required="required" type="password" placeholder="Enter Password" /> 
                        <p style=";color:red;" id="invPasswd"></p>
                    </p>
                    <p> 
                        <label for="npsw" class="youpasswd" data-icon="p"><b>New Password</b></label>
                        <input id="password1" name="newpsw" required="required" type="password" placeholder="Enter Password" /> 
                    </p>
                    <p> 
                        <label for="npsw" class="youpasswd" data-icon="p"><b>Confirm Password</b></label>
                        <input id="password2" name="confpsw" required="required" type="password" placeholder="Enter Password" /> 
                    </p>
                    <p class="login button"> 
                        <input type="submit" value="Change" /> 
					</p>
                </form>
            </div>			
        </div>
    </div>  
</section>

    <script>
        $(document).ready(function () {
            $('#password').blur(function () {
                var password = $('#password').val();
                
                $.getJSON("/admin/CheckPasssword?Password=" + password, function (data)
                {
                    if (data) {
                        $('#invPasswd').text("").f;
                    }
                    else {
                        $('#invPasswd').text("Incorrect Password"); 
                    }
                });

            });

        });
    </script>
