@model TravelGuide.Models.Admin
@{
    ViewBag.Title = "Login";
    string[] style = new string[3];
    style[0] = "/Content/css/forms_css/demo.css";
    style[1] = "/Content/css/forms_css/style.css";
    style[2] = "/Content/css/forms_css/animate-custom.css";
    ViewBag.style = style;
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
   
}
@*<header>
    <a href="/"><h1>Travel Guide of <span>Pakistan</span></h1></a>
</header>*@
<section>
    
    <div id="container_demo" >
        <div id="wrapper">
            <div id="login" class="animate form">
                <form action='checkLogin' method = 'post'>
                    <h1>Log in</h1>
                    <p> 
                        <label for="uname" class="uname" data-icon="u" ><b>Username</b></label>
                        <input id="username" name="uname" required="required" type="text" placeholder="Enter Username"/>
                    </p>
                    <p> 
                        <label for="psw" class="youpasswd" data-icon="p"><b>Password</b></label>
                        <input id="password" name="psw" required="required" type="password" placeholder="Enter Password" /> 
                    </p>
                    <p class="keeplogin"> 
						<input type="checkbox" name="check" id="loginkeeping" value="notNull" /> 
						<label for="loginkeeping">Remeber me</label>
					</p>
                    <p class="login button"> 
                        <input type="submit" value="Login" /> 
					</p>
                    <p class="change_link" id="forgPasswd">
						
						<a href="javascript:void(0)" class="to_register">Forget Password?</a>
					</p>
                </form>
            </div>			
        </div>
    </div>  
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="min-width: 600px;margin-left:-50px">
            <div class="modal-header" style="background: #2b2b2b">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="text-align: center; color:white"><strong>Forget Password</strong></h3>
            </div>
            <div class="modal-body" style="background: white ; margin-bottom: -15px">
                <div class="container-fluid">
                    <div class="row">
	                    <h4 id="data"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background:#2b2b2b">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#forgPasswd').click(function () {
            var uname= $('#username').val();

            $.getJSON("/admin/ForgetPassword?Username=" + uname, function (data) {
                if (data) {
                    $('#data').html("We have sent your password on your Email");
                    $('#myModal').modal('show');
                }
                else {
                    $('#username').focus();
                    $('#data').html("Please Enter Your Username First");
                    $('#myModal').modal('show');
                }
            });

        });
        
    });
    function removeImgC(id) {
        $.getJSON("/admin/RemoveCityImg?Id=" + id, function (data) {
            if (data) {
                $('#image').html("");
            }
        });
    }
</script>