@model List<TravelGuide.Models.Place>
@{  
    ViewBag.Title = "Travel Guide of Pakistan | Home";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}
	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="/Content/images/Faisal Mosque.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Want to Know about<br>Pakistan?</h1>
                        <!-- /Text title -->
                        <div class="button" ><a href="#pakistan">EXPLORE</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <img src="/Content/images/12.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Looking For Popular<br>Places?</h1>
                        <!-- /Text title -->
                        <div class="button" style="color:white;text-decoration-color:black;"><a href="#popular">EXPLORE</a></div>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
    <br/>
    <br/>
    <div class="container-fluid">
    
        <div class="main" id="pakistan">				
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center><h2>PAKISTAN</h2></center>
                </div>
                <br/>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" style="margin-left:35px;margin-right:10px;">
                
                    <p>Pakistan , officially the Islamic Republic of Pakistan (Urdu: اسلامی جمہوریہ پاکستان‎), is a federal parliamentary republic in South Asia on the crossroads of Central and Western Asia. It is the sixth-most populous country with a population exceeding 201 million people. In terms of area, it is the 33rd-largest country spanning 881,913 square kilometres (340,509 square miles). Pakistan has a 1,046-kilometre (650-mile) coastline along the Arabian Sea and its Gulf of Oman in the south and is bordered by India to the east, Afghanistan to the west, Iran to the southwest, and China in the far northeast, respectively. It is separated from Tajikistan by Afghanistan's narrow Wakhan Corridor in the north, and also shares a maritime border with Oman.</p>
                    <br/>
                    <p>The territory that now constitutes Pakistan is considered a cradle of civilisation that was previously home to several ancient cultures, including the Mehrgarh of the Neolithic and the Bronze Age Indus Valley Civilisation, and later home to kingdoms ruled by people of different faiths and cultures, including Hindus, Indo-Greeks, Muslims, Turco-Mongols, Afghans, and Sikhs. The area has been ruled by numerous empires and dynasties, including the Persian Achaemenid Empire, Alexander of Macedonia, the Indian Mauryan Empire, the Arab Umayyad Caliphate, the Delhi Sultanate, the Mongol Empire, the Mughal Empire, the Durrani Empire, the Sikh Empire, and most recently, the British Empire.</p>
                    <br/>
                    <p>Pakistan is unique among Muslim countries in that it is the only country to have been created in the name of Islam. As a result of the Pakistan Movement led by Muhammad Ali Jinnah and the subcontinent's struggle for independence, Pakistan was created in 1947 as an independent homeland for South Asian Muslims. It is an ethnically and linguistically diverse country, with a similarly diverse geography and wildlife. Initially a dominion, Pakistan adopted a constitution in 1956, becoming an Islamic republic. An ethnic civil war in 1971 resulted in the secession of East Pakistan as the new country of Bangladesh. In 1973 Pakistan adopted a new constitution establishing, alongside its pre-existing parliamentary republic status, a federal government based in Islamabad consisting of four provinces and four federal territories. The new constitution also stipulated that all laws were to conform to the injunctions of Islam as laid down in the Quran and Sunnah.</p>
                    <br/>
                
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="margin-left:10px;">
                    <img src="/Content/images/pakistan.jpg" width="100%"/>
                </div>
		
            </div>
            @*<div class="content-bottom" style="background: url(Content/images/home1.jpg)no-repeat center top;width:auto">
	            <div class="container">
		            <div class="row content_bottom-text">
			            <div class="col-md-7">
			            <h3>The Mountains<br>Snowboarding</h3>
				    
			            </div>
		            </div>
	            </div>
            </div>*@
            <br/>
            @*<div class="row" style="background: url(Content/images/murree.jpg)no-repeat center bottom;height:auto;" >
                <br/>
                <div class="row">
                    <center><h2>WANT OUR EXPERTISE?</h2></center>
                </div>
                <br/>
                <div class="row">
                    <div class="button" style="margin-right:40%"><a href="/Home/Contact">CONTACT US</a></div>
                </div>
                <br/>
            </div>
            <br />*@
            <div class="row" id="popular" style="background:lightgrey;">
                <br />
                <center><h2>POPULAR PLACES</h2></center>
                @{
                    for(int i=0;i<Model.Count;i++)    
                    {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="margin-left:90px;margin-bottom:30px;">
                            <a href="~/Home/Place/@Model.ElementAt(i).Place_Id" target="_self" class="address">
                                <center><h3>@Model.ElementAt(i).Name</h3></center>
                                <br/>
                                <img src="/Content/images/@Model.ElementAt(i).Image" width="300p" height="200p" />
                            </a>
                        </div>
                    }
                    <br/>
                }
                
                <br/>
            </div>
            <br/>
            <div class="row" style="background: url(Content/images/murree.jpg)no-repeat center top;height:auto;" >
                <br/>
                <div class="row">
                    <center><h2>WANT SOME TRAVEL GUIDE?</h2></center>
                </div>
                <br/>
                <div class="row">
                    <div class="button" style="margin-right:40%"><a href="/Home/TravelGuide">TRAVEL GUIDE</a></div>
                </div>
                <br/>
            </div>
            <br/>
        </div>
    </div>