@model List<string>

@{
    TravelGuide.Models.Place place = ViewBag.place;
    ViewBag.Title = place.Name;
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

     
<div class="container-fluid">
    <br/>

    <!--slider-------------------------------------------------------------------------------------------------------------------------------->
    
    <div id="fwslider">
         <div class="slider_container">
            
             @{
                 foreach(var img in Model)
                 {
             
                     <div class="slide"> 
                       <img src="/Content/images/@img" class="img-responsive" height="600px"/>
                    </div>
                }
             }
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>

    
    <br/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <center><h1>@place.Name</h1></center>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <p>@place.Description</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="map">
					@*<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13599.764869887706!2d74.3302707!3d31.5532278!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1499716008726" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@

                
                <iframe src="@place.Map" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
            @*<h1>yahan google map ana hai</h1>*@
            
			
			
        </div>
    </div>
    
    <br/>
    
                     
</div>
	 