@{
    ViewBag.Title = "Travel Guide";
}


@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}
<div id="fwslider">
    <div class="slider_container">
        <div class="slide"> 
            <img src="/Content/images/home2.jpg" style="width:100%">
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <h1 class="title">TRAVEL GUIDE</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    
    <br/>
<h1>Plan Travel To Pakistan</h1>
<p>Plan travel to Pakistan and explore the natural beauty, Mughal and Islamic Architecture, Subcontinent and Islam history, mouthwatering food, culture of vibrant colors, folk music and much more.</p>
<p>Here’s a compiled practical travel information you need, including visas, customs, duty-free shopping, and insurance.</p>
<br/>

<h1>VISAS</h1>
<p>Unless you are a Pakistan citizen, you will need a visa to enter Pakistan. All other passport holders must apply for a visa before leaving home. You can apply for a range of visas, including tourist visas and working holiday visas, at your nearest Pakistan Consulate</p>

<br/>
<h1>CUSTOMS AND QUARANTINE</h1>
<p>Pakistan’s customs laws strictly prohibit import of alcoholic beverages is for both residents and non-residents regardless of their nationality. As well as matches, fruits, plants and plant material (incl. cut flowers) whether live or dead unless accompanied with Phytosanitary (Health) certificate from the country of origin and import permit from the Pakistan Ministry of Agriculture (Department of Plant Protection).</p>
<br/>

<h1>DUTY FREE SHOPPING</h1>
<p>Foreign nationals and tourist are entitled to duty free shopping once you’ve purchased your airline ticket. There is a limit on how much you can bring into the country. You’ll need to declare goods exceeding this limit at Customs</p>
<br/>

<h1>USEFUL TRAVEL TIPS, DO’S AND DON’TS</h1>
<p>Its is important to know the things you should do and things you should avoid before you enter Pakistan or travel in Pakistan.</p>
<br/>

<h1>PAKISTAN CLIMATE</h1>
<p>Pakistan has four seasons: winter (November to March) is warm and cooled by sea breezes on the coast; summer (April to July) has extreme temperatures and the monsoon season (July to September) has the highest rainfall on the hills. Karachi has little rain. Global warming is starting to become apparent in Pakistan with warmer winters, glacial melt and a slight dip in temperature in the summer months.</p>
<p>The best time to visit southern Pakistan is between November and March, when the days are cool and clear. The best time to visit northern Pakistan, for trekking, is from April to October; outside of these months it will be snowy and very difficult to reach many mountainous places. Bear in mind that the monsoon plays havoc with travel in Pakistan and is not to be taken lightly, as we have witnessed recently with the devastating floods of 2010, which were the worst in 80 years.</p>
<br/>

<h1>Required clothing</h1>
<p>Wear lightweights, with warmer clothing, including base-layers and woollens, for upland areas in the winter. Good trekking boots are a must for mountain explorers, as are walking poles and thermals. Visitors can buy woollen socks and sweaters at a very good price in the bazaars of Pakistan, but they might not be up to western standards and will be quite heavy.</p>
<p>Rainwear is advised for the monsoon season so if you are to spend any time in the cities during this time, do not rule out the possibility of bringing along some wellington boots as the rain can be torrential resulting in very flooded lanes. It’s easiest to buy the necessary shalwar kameez (tunic and baggy trousers) when you land in Pakistan – this is essential for women, and optional, but advisable for the heat more than anything, for men. In the intense heat it may be tempting to lose layers – in respect of local customs, and to spare yourself unwanted harassment and disapproval, it is far wiser to cover up in cool, white flowing cottons, like the Pakistanis do, thus keeping the sun off too.</p>
<br/>

<h1>HEALTH CARE AND VACCINATIONS</h1>
<p>Outside of the major cities healthcare is very basic. You should take out comprehensive travel and medical insurance before traveling, including cover for medical repatriation costs. Seek medical advice before traveling to Pakistan and make certain that all appropriate vaccinations are up to date. Malaria exists in Pakistan, in coastal and low-lying areas. Dengue fever is a threat throughout. In a serious medical emergency the best option is to be evacuated. In an emergency your first point of call should be your embassy and insurance company. To call an ambulance, dial the Edhi Trust Ambulance Service on 115. The Edhi Foundation (www.edhifoundation.com) has eight hospitals in Karachi alone and a fleet of over 400 ambulances. It is funded almost entirely by private donations, 90% of which come from within the country.</p>
<br/>
<h3>Food and drink</h3>
<p>All water should be regarded as being potentially contaminated. Water used for drinking, brushing teeth or making ice should have first been boiled or otherwise sterilized. When buying bottled water check that the seal is intact and that it hasn’t been tampered with. Never drink tap water and try to avoid fruit juices unless from a carton as they may have had contaminated water added to them. Milk is unpasteurized and should be boiled. Powdered or tinned milk is available and is advised. Avoid dairy products that are likely to have been made from un-boiled milk. Only eat well-cooked meat and fish, avoid shellfish and be wary of buffets. Vegetables should be cooked and fruit peeled. Try to choose busy restaurants where the food will have a high turnover.</p>
<br/>
<h3>Other risks</h3>
<p>Vaccinations against Japanese B encephalitis, tuberculosis and hepatitis A (a food and water borne virus) and B are sometimes recommended. Long-term travelers might want to consider having an immunization against rabies.</p>
<p>In the mountains altitude sickness is a real peril and anything above 3,000m (9,843ft) is considered a risk. The key to avoiding this is to ascend slowly and sleep lower than the height reached that day. Avoid alcohol and keep hydrated. Paracetamol can help with headaches associated with altitude sickness. Earth tremors are frequent and mountainous areas frequently experience floods and landslides.</p>
<p>It is a good idea to pack a personal medical kit. Key items to include are DEET-based insect repellent, oral rehydration salts, decongestant, anti-inflammatory tablets, sunscreen and iodine to sterilise water (not good for pregnant women or those with thyroid issues).</p>
<br/>
<h1>TIME ZONES AND DAYLIGHT SAVINGS</h1>
<p>Pakistan has one time zone, PSTm which is +5:00 GMT</p>
<br/>
<h1>PUBLIC HOLIDAYS</h1>
<p>It is a good idea to keep in mind the public holidays when travel to Pakistan.</p>
<br/>
<h1>CURRENCY</h1>
<p>Pakistan Rupee (PKR; symbol Rs). Notes are in denominations of Rs5,000, 1,000, 500, 100, 20 and 10. Coins are in denominations of Rs5, 2 and 1.  All major credit cards are accepted in Pakistan. </p>
<br/>
</div>